@using Newtonsoft.Json;﻿
@model IEnumerable<MvcSitemap.Models.Sitemap>

<script>
    var siteMapData= @Html.Raw(JsonConvert.SerializeObject(ViewBag.Data));
    console.log(1, siteMapData);

</script>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form id="uploadForm" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input id="fileInput" type="file" name="files" multiple accept=".xml" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoIndex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Data)
        {
            <tr id="@item.ID" class="@item.Status">
                <td>
                    @item.Url
                </td>
                <td>
                    @item.CreatedDate
                </td>
                <td>
                    @item.ModifiedDate
                </td>
                <td>
                    @item.ChangeFrequency
                </td>
                <td>
                    @item.Priority
                </td>
                <td>
                    @item.NoIndex
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
